.top-section {
    margin: 40px 20px;
    animation: zoomIn 0.5s;

    & h1 {
        margin: 20px 0px;
        font-size: 28px;
        font-weight: 500;
    }

    & p {
        font-size: 14px;
    }
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
}

.order-table thead tr {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.order-table th,
.order-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.order-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.order-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.order-table th {
    background-color: #DB4444;
    text-transform: uppercase;
    color: white;
}

.order-table td {
    color: #555;
}

.order-table caption {
    font-size: 20px;
    text-align: left;
}

.billing-address {
    padding: 10px 0px;
    background-color: rgba(128, 128, 128, 0.062);
}

@media (max-width:380px) {
    .top-section {
        margin: 20px 0px;
    }

    .order-table th,
    .order-table td {
        padding: 12px 8px;
    }
}